.section {
  flex-direction: column;
  gap: 4rem;
}

.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  gap: 4rem;
}

@media (max-width: 37.5em) {
  .container {
    gap: 5rem;
  }
}
