.footer {
  width: 100%;
  padding: 4rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  border-top: 1px solid #f5f5f555;
}

.nav {
  width: 100%;
  display: flex;
  gap: 3rem;
}

.socials {
  display: flex;
  gap: 3rem;
}

.copyRight {
  transform: translateX(-50%);
}

.logo {
  display: inline-block;
  height: 3rem;
  width: fit-content;
}

@media (max-width: 37.5em) {
  .footer {
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .socials {
    width: 100%;
    justify-content: center;
    flex-shrink: 0;
  }

  .copyRight {
    width: 100%;
    order: 5;
    text-align: center;
    transform: translateX(0%);
  }
}
