@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-size: 1.6rem;

  --color-white: #f5f5f5;
  --color-offwhite: #dddddd;
  --color-black: #080808;
  --color-gray: #1e1e1e;
  --color-dark-gray: #0d0d0d;
  --color-red: #c62020;

  --phone: "37.5em";
  --tabPort: "56.25em";
  --tabLand: "75em";
  --bigScreen: "122.5em";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--font-oxanium), "Trebuchet MS";
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: var(--default-font-size);
  line-height: 1.5;
  background-color: var(--color-black);
  color: var(--color-white);

  padding-top: 7rem;
}

header,
main>*,
footer {
  width: 100%;
  padding: 0 4vw;
}

body::-webkit-scrollbar {
  background-color: var(--background-color);
}

body::-webkit-scrollbar-button {
  background-color: #80808075;
}

body::-webkit-scrollbar-button:active {
  background-color: #44444475;
}

body::-webkit-scrollbar-thumb {
  background-color: #80808050;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #80808075;
}

#root {
  width: 100%;
  max-height: 100vh;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  padding-top: 10rem;
  display: flex;
}

section:last-child {
  padding-bottom: 8rem;
}

section>.titleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section>.titleBox.right {
  align-items: flex-end;
}

a {
  font: inherit;
  display: inline-block;
  height: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--color-red);
}

li {
  list-style: none;
}

.underline {
  width: 60%;
  height: 5px;
  background-color: var(--color-red);
}

.primary-heading {
  font-weight: 800;
  font-size: 9rem;
}

.secondary-heading {
  font-weight: 700;
  font-size: 3rem;
}

.tertiary-heading {
  font-weight: 600;
  font-size: 1.6rem;
}

/* Media Breakpoints */
/* 
	0	- 600px(37.5em): 		Phones
	600 - 900px(56.25em): 		Tablet portriat
	900 - 1200px(75em): 		Tablet landscape	
*/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
    /* 1rem = 9px*/
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
    /* 1rem = 8px*/
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 46.88%;
    /* 1rem = 7.5px*/
  }

  body {
    font-size: 1.8rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}