.card {
  width: calc(100vw / 5);
  height: calc(100vw / 4);
  font-size: 1.2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  background: linear-gradient(
    to bottom right,
    var(--color-red) 0%,
    rgba(0, 0, 0, 0.7) 100%
  ) !important;
}

.img {
  display: inline-block;
  width: 100% !important;
  height: 100% !important;

  object-fit: cover;
  object-position: top;
}

.caption {
  width: 100%;
  height: max-content;
  padding: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-white) !important;

  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.card:hover > .caption {
  background: rgba(0, 0, 0, 1);
}

@media (max-width: 56.25em) {
  .card {
    width: calc(100vw / 2.4);
    height: calc(100vw / 1.8);
    flex-shrink: 0;
  }
}
