.section {
  flex-direction: column;

  gap: 3rem;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.link {
  color: var(--color-red);
  padding-left: .5rem;
  display: inline;
}