.section {
  flex-direction: column;
  gap: 4rem;
}

.feedsContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  flex-wrap: wrap;
}

.btn {
  align-self: flex-end;
}

@media (max-width: 37em) {
  .btn {
    align-self: center;
  }
}
